@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌗 Tematske varijable */
:root {
  --foreground-rgb: 17, 17, 17;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 24, 24, 24;
}

/* 🧍‍♂️ Osnovni stil tijela */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

/* 🧠 Tailwind utility proširenje */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 🔢 Uklanjanje strelica iz number inputa */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


select {
  @apply bg-white text-black border-gray-400;
}

.dark select {
  @apply bg-gray-800 text-white border-gray-600;
}